## **Pandas Essencial**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/>

Neste tutorial, vamos aprender o essencial da biblioteca _Pandas_ para manipulação de dados.<br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

### Pacotes usados neste Notebook

In [1]:
# pacotes usados neste notebook
import pandas as pd

<h1>Manipulação de Dados com Pandas</h1><hr/>

<h2>1. Manipulação Básica de Datasets</h2>
<hr/>

**Dataset**: Gas Prices in Brazil: https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil <br/>

Este dataset contém os **registros dos preços médios semanais dos combustíveis do Brasil entre os anos de 2004 e 2019**. <br/>
Cada *amostra (registro/linha)* consiste em um registro de preço aferido para um dado tipo de combustível em uma dada localidade do Brasil. <br/>
Alguns dos principais *atributos* (colunas) do dataset são: 'ESTADO', 'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'PREÇO MÉDIO REVENDA'.


\* O arquivo disponibilizado no Kaggle está no formato *tsv*. Embora o _pandas_ consiga abrí-lo normalmente, convertemos tal arquivo para o formato *CSV*, que é um dos formatos mais utilizados, e mudamos seu separado para ';' apenas para mostrar algumas opções da função de carregamento.

### 1.1. Importando o Dataset
Para carregar um dataset no formato csv, basta utilizar a função `read_csv` do pandas. Por padrão, ela considera _','_ como separador.

In [49]:
data1 = pd.read_csv(r'C:\Users\Armando\Downloads\archive\2004-2021.tsv', delimiter = '\t')

O dataset não foi carregado corretamente pois o separador utilizado seu arquivo CSV era ';' e não a ','. <br/>
Vamos então carregá-lo corretamente:

In [4]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 1.2. Exibindo as primeiras linhas do Dataset
A função `.head()` exibe as 5 primeiras linhas do dataset/tabela/Data Frame.

In [5]:
data1.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [6]:
data1.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 1.3 Informações do Dataset e Elementos Chave

### 1.3.1 Informações gerais sobre o Dataset

In [7]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

### 1.3.2 Data Frame
Todo dataset carregado (dados estruturados) é um `Data Frame`: 'Tabela' bi-dimensional, de tamanho mutável, com dados potencialmente heterogêneos. <br/>

In [8]:
type(data1)

pandas.core.frame.DataFrame

Podemos acessar as **dimensões do Data Frame** (número de linhas x número de colunas) utilizando o atributo `.shape` do Data Frame.

In [9]:
data1.shape

(120823, 18)

In [10]:
print(f'O datafre possui{data1.shape} Linhas e colunas, respectivamente')

O datafre possui(120823, 18) Linhas e colunas, respectivamente

#### **Criando um DataFrame**

Podemos criar um DataFrame a partir de um _dicionário_, onde cada **chave** possui uma **lista de elementos de igual tamanho**.<br/>
As **chaves** representam as **colunas** e **cada um dos valores de sua lista** representa o **valor da linha** correspondente para aquela coluna.

In [11]:
personagens_df = pd.DataFrame({
    'nome': ['Luke Skywalker', 'Yoda', 'Palpatine'],
    'idade': [16, 1000, 70],
    'peso': [70, 15, 60],
    'eh jedi': [True, True, False]  # o nome das colunas podem ter espaços
})

In [12]:
personagens_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

#### **VEJA MAIS**
Criando um Data Frame a partir de um dicionário: https://www.geeksforgeeks.org/how-to-create-dataframe-from-dictionary-in-python-pandas/

#### **Renomeando as colunas de um DataFrame**
**===>** O método `DataFrame.columns` retorna uma ";lista" com os **nomes de todas as colunas** do data frame.

In [13]:
personagens_df.columns

Index(['nome', 'idade', 'peso', 'eh jedi'], dtype='object')

In [14]:
list(personagens_df.columns)

['nome', 'idade', 'peso', 'eh jedi']

<br/>

**===>** Para **renomear colunas** do data frame, utilize o método `DataFrame.rename`, que retorna uma _cópia_ do data frame com as as colunas renomeadas:

In [15]:
personagens_df.rename(columns ={
    'nome':'jedi',
    'idade':'Idade',
}, inplace = True)

In [16]:
personagens_df

             jedi  Idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

<br/>

**===>** Uma outra forma de **renomear todas as listas** de um data frame é passar uma _lista_ com os novos nomes das colunas para o atributo `DataFrame.columns`:

In [17]:
personagens_df = ['NOME', 'IDADE', 'PESO', 'EH JEDI']

In [18]:
personagens_df

['NOME', 'IDADE', 'PESO', 'EH JEDI']

### 1.3.3 Series

Array uni-dimensional com os dados e rótulos de um eixo.

In [19]:
data1.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [20]:
data1['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [21]:
data1.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [22]:
data1.iloc[0:3]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [23]:
type(data1.iloc[0])

pandas.core.series.Series

#### **Criando uma Series**

Podemos criar um DataFrame a partir de uma lista de elementos.

In [24]:
pd.Series([5, 0.6, 0.3, 0.7])

0    5.0
1    0.6
2    0.3
3    0.7
dtype: float64

Podemos alterar o **nome dos índices** (veremos melhor jajá) e o **nome da Series** (o que ela representa):

In [25]:
pd.Series([5, 0.6, 0.3, 0.7], index= ['A', 'B', 'C', 'D'], name= 'Probabilidades')

A    5.0
B    0.6
C    0.3
D    0.7
Name: Probabilidades, dtype: float64

### 1.3.4 Atribuindo Dados

#### 1.3.4.1 Atribuindo constantes

In [26]:
data1['PRODUTO'] #RETORNA UMA REFERÊNCIA, NÂO UMA CÓPIA!!!

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [27]:
produto_copy = data1['PRODUTO'].copy()
produto_copy

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [28]:
data1['PRODUTO'] = 'Combustivel'

In [29]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustivel,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustivel,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustivel,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Combustivel,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Combustivel,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Combustivel,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Combustivel,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Combustivel,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Combustivel,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Combustivel,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [30]:
data1['PRODUTO'] = produto_copy

In [31]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

#### 1.3.4.2 Atribuindo listas ou series

In [32]:
n_rows, n_cols = data1.shape
n_rows, n_cols

(120823, 18)

In [33]:
novos_produtos = [f'Produto {i}' for i in range(n_rows)]
len(novos_produtos)

120823

In [34]:
data1['PRODUTO'] = novos_produtos

In [35]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Produto 120818,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Produto 120819,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Produto 120820,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Produto 120821,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Produto 120822,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [36]:
produto_copy

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [37]:
data1['PRODUTOS'] = produto_copy

#### 1.3.4.3 Criando novas colunas
Para **criar uma nova coluna** em um data frame, basta atribuirmos uma _lista/Series de valores_ a uma **nova 'chave'** do data frame. <br/>

**PS:** A _quantidade de valores_ da lista precisa ser **igual** ao _número de linhas/registros_ do data frame.

In [38]:
data1['COLUNA SEM NOÇAO'] = 'DEFAULT'
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,PRODUTOS,COLUNA SEM NOÇAO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,ETANOL HIDRATADO,DEFAULT
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,ETANOL HIDRATADO,DEFAULT
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,ETANOL HIDRATADO,DEFAULT
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,ETANOL HIDRATADO,DEFAULT
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,ETANOL HIDRATADO,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Produto 120818,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,DEFAULT
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Produto 120819,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,DEFAULT
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Produto 120820,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,DEFAULT
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Produto 120821,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,DEFAULT
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Produto 120822,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,DEFAULT

In [39]:
data1['COLUNA SEM NOÇAO'] = range(n_rows)

In [40]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,PRODUTOS,COLUNA SEM NOÇAO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,ETANOL HIDRATADO,0
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,ETANOL HIDRATADO,1
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,ETANOL HIDRATADO,2
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,ETANOL HIDRATADO,3
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,ETANOL HIDRATADO,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Produto 120818,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120818
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Produto 120819,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120819
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Produto 120820,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120820
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Produto 120821,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120821
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Produto 120822,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120822

<br/>

Outro exemplo:

In [41]:
data1['PREÇO MÉDIA REVENDA EM DOLARES'] = data1['PREÇO MÉDIO REVENDA'] * 5

In [42]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,PRODUTOS,COLUNA SEM NOÇAO,PREÇO MÉDIA REVENDA EM DOLARES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,1.190,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,ETANOL HIDRATADO,0,6.440
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,ETANOL HIDRATADO,1,5.810
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.180,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,ETANOL HIDRATADO,2,6.945
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.090,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,ETANOL HIDRATADO,3,6.310
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,1.050,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,ETANOL HIDRATADO,4,5.905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Produto 120818,12,R$/l,4.582,0.056,4.510,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120818,22.910
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Produto 120819,100,R$/l,4.141,0.187,3.838,...,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120819,20.705
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Produto 120820,886,R$/l,4.246,0.216,3.769,...,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120820,21.230
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Produto 120821,33,R$/l,4.464,0.205,4.190,...,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120821,22.320
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Produto 120822,18,R$/l,4.352,0.156,4.199,...,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,OLEO DIESEL S10,120822,21.760

**PS:** Obviamente, a lógica correta em converter o preço dos combustíveis em reais para dólares não é considerar uma taxa de câmbio fixa, uma vez que cada preço foi aferido em um momento diferente.

### 1.3.4 Índices

Todo Data Frame possui **índices**, que não são considerado colunas da tabela. Tais índices são comumente **númericos**, de 0 a num_linhas-1, mas também podem ser **textuais (rótulos/labels)**.

In [43]:
data1.index

RangeIndex(start=0, stop=120823, step=1)

Use `list(data.index)` ou `data.index.to_list()` para converter um RangeIndex para uma python list.

#### **Exemplo de Data Frame com Índices Textuais (labels)**

In [6]:
pesquisa_de_satisfacao = pd.DataFrame({
    'bom': [50, 21, 100],
    'ruim': [131, 2, 30],
    'pessimo': [30, 20, 1]
}, index=['XboxOne', 'Playstation4', 'Switch'])

In [45]:
pesquisa_de_satisfacao.head()

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

### 1.4 Selecionando uma ou mais amostras (Indexação)

#### **==>  Index-based selection (seleção baseada em Índices)**
Mostrando linhas específicas de um DataFrame:

`iloc`: seleciona elementos do Dataframe, baseado em seu **índice (número)** --> row-first, column-second

**Selecionando uma amostra/linha:**

In [46]:
data1.iloc[1]

DATA INICIAL                            2004-05-09
DATA FINAL                              2004-05-15
REGIÃO                                CENTRO OESTE
ESTADO                                       GOIAS
PRODUTO                                  Produto 1
NÚMERO DE POSTOS PESQUISADOS                   387
UNIDADE DE MEDIDA                             R$/l
PREÇO MÉDIO REVENDA                          1.162
DESVIO PADRÃO REVENDA                        0.114
PREÇO MÍNIMO REVENDA                          0.89
PREÇO MÁXIMO REVENDA                         1.449
MARGEM MÉDIA REVENDA                         0.399
COEF DE VARIAÇÃO REVENDA                     0.098
PREÇO MÉDIO DISTRIBUIÇÃO                     0.763
DESVIO PADRÃO DISTRIBUIÇÃO                   0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                   0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                     1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO                0.115
PRODUTOS                          ETANOL HIDRATADO
COLUNA SEM NOÇAO                                 1
PREÇO MÉDIA REVENDA EM DOLARES                5.81
Name: 1, dtype: object

**Selecionando múltiplias amostras/linhas:**

In [55]:
data1.iloc[:, :4]

       DATA INICIAL  DATA FINAL        REGIÃO              ESTADO
0        2004-05-09  2004-05-15  CENTRO OESTE    DISTRITO FEDERAL
1        2004-05-09  2004-05-15  CENTRO OESTE               GOIAS
2        2004-05-09  2004-05-15  CENTRO OESTE         MATO GROSSO
3        2004-05-09  2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL
4        2004-05-09  2004-05-15      NORDESTE             ALAGOAS
...             ...         ...           ...                 ...
120818   2021-04-25  2021-05-01         NORTE             RORAIMA
120819   2021-04-25  2021-05-01           SUL      SANTA CATARINA
120820   2021-04-25  2021-05-01       SUDESTE           SAO PAULO
120821   2021-04-25  2021-05-01      NORDESTE             SERGIPE
120822   2021-04-25  2021-05-01         NORTE           TOCANTINS

[120823 rows x 4 columns]

In [58]:
data1.iloc[[1, 5, 10, 15]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,PRODUTOS,COLUNA SEM NOÇAO,PREÇO MÉDIA REVENDA EM DOLARES
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,ETANOL HIDRATADO,1,5.810
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,Produto 5,408,R$/l,1.383,0.132,0.999,...,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,ETANOL HIDRATADO,5,6.915
10,2004-05-09,2004-05-15,NORDESTE,PIAUI,Produto 10,89,R$/l,1.573,0.134,1.400,...,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072,ETANOL HIDRATADO,10,7.865
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,Produto 15,53,R$/l,1.578,0.123,1.280,...,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06,ETANOL HIDRATADO,15,7.890

In [59]:
data1.iloc[[1, 3, 2]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,PRODUTOS,COLUNA SEM NOÇAO,PREÇO MÉDIA REVENDA EM DOLARES
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,ETANOL HIDRATADO,1,5.810
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,ETANOL HIDRATADO,3,6.310
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,ETANOL HIDRATADO,2,6.945

In [3]:
data1.iloc[1, 2]

'CENTRO OESTE'

#### **==>  Label-based selection (seleção baseadas em Rótulos)**

`loc`: seleciona elementos do Dataframe, baseado em seus **rótulos** --> row-first, column-second

In [7]:
pesquisa_de_satisfacao

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [8]:
pesquisa_de_satisfacao.iloc[0]

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [10]:
pesquisa_de_satisfacao.loc['XboxOne']

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [11]:
pesquisa_de_satisfacao.loc['Playstation4', 'ruim']

2

### 1.5 Selecionando um ou mais atributos (colunas)

In [4]:
data1['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [5]:
data1.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [7]:
data1.loc[:, 'ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [8]:
data1[['PRODUTO', 'ESTADO', 'REGIÃO']]

                 PRODUTO              ESTADO        REGIÃO
0       ETANOL HIDRATADO    DISTRITO FEDERAL  CENTRO OESTE
1       ETANOL HIDRATADO               GOIAS  CENTRO OESTE
2       ETANOL HIDRATADO         MATO GROSSO  CENTRO OESTE
3       ETANOL HIDRATADO  MATO GROSSO DO SUL  CENTRO OESTE
4       ETANOL HIDRATADO             ALAGOAS      NORDESTE
...                  ...                 ...           ...
120818   OLEO DIESEL S10             RORAIMA         NORTE
120819   OLEO DIESEL S10      SANTA CATARINA           SUL
120820   OLEO DIESEL S10           SAO PAULO       SUDESTE
120821   OLEO DIESEL S10             SERGIPE      NORDESTE
120822   OLEO DIESEL S10           TOCANTINS         NORTE

[120823 rows x 3 columns]

Como o rótulo da coluna 'DATA INICIAL' **possui espaço**, não é possível acessá-la como método: `data.DATA INICIAL`

### 1.6 Removendo um Atributo (Coluna) do Data Frame

In [9]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [10]:
del data1['ESTADO']

In [11]:
data1

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 1.7 Salvando um Data Frame

Para salvarmos um Data Frame para um **arquivo CSV**, basta usarmos o método `.to_csv`. <br/>
Por padrão, esse método **salva os índices da tabela como uma coluna no CSV**.<br/>
Como no geral tais índices são números de 0 a n-1, não há necessidade para isso (veja que removemos anteriormente a coluna 'Unnamed: 0' que foi justamente esse caso).<br/>
Desta forma, utilize o parâmetro: `index=False`.

Por padrão, o método utilizará a ',' como separador das colunas. Caso queira alterá-lo, utilize o parâmetro `sep`.

In [12]:
data1.to_csv(r'C:\Users\Armando\Desktop\preprocessado')

### 1.8 Seleção Condicional: Filtrando amostras

Durante nossas análise exploratórias, frequentemente filtraremos nossas amostras, a partir de certas **condições**, para fins de análise mais específica. <br/>
Existem algumas maneiras de fazermos tal filtragem. Antes disso, vamos carregar nosso dataset pré-processado que salvamos no item anterior.

In [2]:
data = pd.read_csv(r'C:\Users\Armando\Desktop\preprocessado')
del data['Unnamed: 0']

In [17]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [20]:
data['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

#### **Selecionando apenas os preços dos Postos de São Paulo**

##### **==> Alternativa 1: Seleção Condicional (Comparações diretas)**

O código abaixo retorna uma ***Series ('array') de booleans***, com o número de linhas (amostras) do Data Frame, que informa os registros de preços dos postos do _estado de São Paulo_ (True).

In [22]:
selecoes = data['REGIÃO'] == 'NORTE'

In [23]:
selecoes

0         False
1         False
2         False
3         False
4         False
          ...
120818     True
120819    False
120820    False
120821    False
120822     True
Name: REGIÃO, Length: 120823, dtype: bool

In [28]:
selecoes.shape

(120823,)

Para **filtrarmos** os registros de postos do estado de São Paulo:

In [30]:
data[selecoes]

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
13,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120799,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

O resultado é um Data Frame com _apenas_ os registros desejados após a **filtragem**.<br/>
Podemos ainda utilizar o método `loc` para o mesmo fim:

In [31]:
data.loc[selecoes]

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
13,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120799,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

##### **==> Alternativa 2: Utilizando o método `query`**

`query` filtra linhas de um DataFrame baseado em uma **query (pergunta)**.

In [83]:
data.query('REGIÃO == "NORTE"')

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
13,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120799,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

<br/>

Uma boa prática é **salvar o Data Frame filtrado em uma nova variável**. Isso simplifica a complexidade do código para futuras análise feita para os postos de São Paulo.

In [87]:
postos_norte = data.query('REGIÃO == "NORTE"')

In [90]:
postos_norte.reset_index(drop=True, inplace = True)

In [91]:
postos_norte

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
1,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
2,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
3,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
4,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27984,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
27985,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
27986,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
27987,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
27988,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

#### **Selecionando registros de postos do Rio de Janeiro com Preços acima de 2 reais**

In [4]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [5]:
data['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

In [6]:
data['REGIÃO'] == 'NORTE'

0         False
1         False
2         False
3         False
4         False
          ...
120818     True
120819    False
120820    False
120821    False
120822     True
Name: REGIÃO, Length: 120823, dtype: bool

In [7]:
data['PREÇO MÉDIO REVENDA'] > 2

0         False
1         False
2         False
3         False
4         False
          ...
120818     True
120819     True
120820     True
120821     True
120822     True
Name: PREÇO MÉDIO REVENDA, Length: 120823, dtype: bool

In [13]:
selecao = (data['REGIÃO'] == 'NORTE') & (data['PREÇO MÉDIO REVENDA'] > 2)
selecao

0         False
1         False
2         False
3         False
4         False
          ...
120818     True
120819    False
120820    False
120821    False
120822     True
Length: 120823, dtype: bool

Note que o resultado da seleção continua sendo uma _Series de booleans_ com o _mesmo número de linhas/amostras do DataFrame_, de modo que cada linha possuirá um valor booleano indicando se o posto é do Rio de Janeiro e o preço aferido do combustível é maior que 2 reais (True) ou não.

O símbolo **&** significa **AND** na comparação. Essa nomenclatura do python/pandas é diferente das nomenclaturas tradicionais (&&). <br/>
Similarmente:
- **|** representa o **OR** (não é ||)
- **~** representa o **NOT** (não é !)

In [15]:
data[selecao].reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,11,R$/l,2.004,0.073,1.850,2.050,0.313,0.036,1.691,0.194,1.2982,1.8891,0.115
1,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,98,R$/l,2.011,0.171,1.590,2.372,0.302,0.085,1.709,0.194,0.9826,2.0852,0.114
2,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,14,R$/l,2.027,0.133,1.750,2.200,0.482,0.066,1.545,0.144,1.3805,1.8446,0.093
3,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,12,R$/l,2.154,0.101,2.050,2.250,0.463,0.047,1.691,0.194,1.2982,1.889,0.115
4,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,114,R$/l,2.032,0.152,1.740,2.372,0.313,0.075,1.719,0.164,1.0832,1.9841,0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25624,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
25625,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
25626,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
25627,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
25628,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

Alternativamente, poderíamos usar o método `query` para fazermos tal seleção. Porém, isso não é possível especificamente para esse caso, pois o rótulo da coluna 'PREÇO MÉDIO REVENDA' possui caracteres inválidos para o método (cedilha, acentos)

In [48]:
# Não funciona
# data.query('ESTADO=="RIO DE JANEIRO" and PREÇO MÉDIO REVENDA > 2')

**Aprofundando mais ainda**

A primeira comparação `(data['ESTADO'] == 'RIO DE JANEIRO')` checa, linha a linha (amostra a amostra) do DataFrame, quais são aquelas cujo o estado é RIO DE JANEIRO. Nenhuma averiguação de preços é feita nesse momento. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

A segunda comparação `(data['PREÇO MÉDIO REVENDA'] > 2)` checa, linha a linha (amostra a amostra) do DataFrame, quais são os registro cujo preço do combustível é maior que 2 reais. Note que essa comparação checará os postos de **TODOS os estados**. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

Por fim, as duas "perguntas" são unidas pelo AND (&) que retorna a "pergunta completa" que fizemos.

Alguns podem argumentar que tal abordagem é **ineficiente**, uma vez que, para cada condição ("pergunta"), estamos varrendo todas as linhas do DataFrame. <br/>
O Pandas _tenta otimizar_ isso ao máximo por de trás dos panos. Mas, de fato, de tivermos um dataset **muito grande** (centenas de milhares de linhas), tal abordagem se tornará _lenta_.

Assim, poderíamos fazer filtragem com múltiplos condicionais em partes:

In [19]:
select_1 = data['REGIÃO'] == 'NORTE'
postos_rj = data[select_1]
postos_rj

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
13,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120799,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [22]:
select_2 = postos_rj['PREÇO MÉDIO REVENDA'] > 2
postos_rj[select_2]

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
770,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,11,R$/l,2.004,0.073,1.850,2.050,0.313,0.036,1.691,0.194,1.2982,1.8891,0.115
772,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,98,R$/l,2.011,0.171,1.590,2.372,0.302,0.085,1.709,0.194,0.9826,2.0852,0.114
774,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,14,R$/l,2.027,0.133,1.750,2.200,0.482,0.066,1.545,0.144,1.3805,1.8446,0.093
797,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,12,R$/l,2.154,0.101,2.050,2.250,0.463,0.047,1.691,0.194,1.2982,1.889,0.115
799,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,114,R$/l,2.032,0.152,1.740,2.372,0.313,0.075,1.719,0.164,1.0832,1.9841,0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120799,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.990,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

#### **Selecionando registros**

Podemos fazer a solução do "jeito mais lento", percorrendo o DataFrame inteiro _múltiplas vezes_:

In [46]:
selecao = ((data['REGIÃO'] == 'NORTE') | (data['REGIÃO'] == 'NORDESTE')) & (data['PREÇO MÉDIO REVENDA'] > 2) & (data['PRODUTO'] == 'ETANOL HIDRATADO')

In [47]:
postos_rj_sp = data[selecao]

In [48]:
postos_rj_sp

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
770,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,11,R$/l,2.004,0.073,1.850,2.050,0.313,0.036,1.691,0.194,1.2982,1.8891,0.115
772,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,98,R$/l,2.011,0.171,1.590,2.372,0.302,0.085,1.709,0.194,0.9826,2.0852,0.114
774,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,14,R$/l,2.027,0.133,1.750,2.200,0.482,0.066,1.545,0.144,1.3805,1.8446,0.093
797,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,12,R$/l,2.154,0.101,2.050,2.250,0.463,0.047,1.691,0.194,1.2982,1.889,0.115
799,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,114,R$/l,2.032,0.152,1.740,2.372,0.313,0.075,1.719,0.164,1.0832,1.9841,0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120664,2021-04-25,2021-05-01,NORDESTE,ETANOL HIDRATADO,27,R$/l,4.634,0.140,4.320,4.890,-99999.0,0.030,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120666,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,14,R$/l,4.647,0.314,4.370,5.190,-99999.0,0.068,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120667,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,2,R$/l,4.530,0.085,4.470,4.590,-99999.0,0.019,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120670,2021-04-25,2021-05-01,NORDESTE,ETANOL HIDRATADO,26,R$/l,4.509,0.050,4.449,4.649,-99999.0,0.011,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120671,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,16,R$/l,4.757,0.153,4.570,4.999,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

<br/>

Alternativamente:

In [49]:
selecao = ((data['REGIÃO'] == 'NORTE') | (data['REGIÃO'] == 'NORDESTE'))

In [50]:
postos_sp_rj = data[selecao]

In [53]:
selecao_2 = (postos_sp_rj['PREÇO MÉDIO REVENDA'] > 2)
postos_sp_rj = postos_sp_rj[selecao_2]

In [55]:
selecao_3 = (postos_sp_rj['PRODUTO'] == 'ETANOL HIDRATADO')
postos_sp_rj = postos_sp_rj[selecao_3]

In [56]:
postos_sp_rj

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
770,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,11,R$/l,2.004,0.073,1.850,2.050,0.313,0.036,1.691,0.194,1.2982,1.8891,0.115
772,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,98,R$/l,2.011,0.171,1.590,2.372,0.302,0.085,1.709,0.194,0.9826,2.0852,0.114
774,2004-11-21,2004-11-27,NORTE,ETANOL HIDRATADO,14,R$/l,2.027,0.133,1.750,2.200,0.482,0.066,1.545,0.144,1.3805,1.8446,0.093
797,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,12,R$/l,2.154,0.101,2.050,2.250,0.463,0.047,1.691,0.194,1.2982,1.889,0.115
799,2004-11-28,2004-12-04,NORTE,ETANOL HIDRATADO,114,R$/l,2.032,0.152,1.740,2.372,0.313,0.075,1.719,0.164,1.0832,1.9841,0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120664,2021-04-25,2021-05-01,NORDESTE,ETANOL HIDRATADO,27,R$/l,4.634,0.140,4.320,4.890,-99999.0,0.030,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120666,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,14,R$/l,4.647,0.314,4.370,5.190,-99999.0,0.068,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120667,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,2,R$/l,4.530,0.085,4.470,4.590,-99999.0,0.019,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120670,2021-04-25,2021-05-01,NORDESTE,ETANOL HIDRATADO,26,R$/l,4.509,0.050,4.449,4.649,-99999.0,0.011,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120671,2021-04-25,2021-05-01,NORTE,ETANOL HIDRATADO,16,R$/l,4.757,0.153,4.570,4.999,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### **Iterando com DataFrames**

#### For-each `DataFrame.iterrows()` (LENTO ==> apenas indicado para iterar pequenos conjunto de dados)

In [60]:
for index, row in data.head(10).iterrows():
    print(f'Index : {index} ==> {row["REGIÃO"]}')

Index : 0 ==> CENTRO OESTE
Index : 1 ==> CENTRO OESTE
Index : 2 ==> CENTRO OESTE
Index : 3 ==> CENTRO OESTE
Index : 4 ==> NORDESTE
Index : 5 ==> NORDESTE
Index : 6 ==> NORDESTE
Index : 7 ==> NORDESTE
Index : 8 ==> NORDESTE
Index : 9 ==> NORDESTE

<h2>2. Preparação dos dados</h2>
<hr/>

### 2.1 Removendo amostras com valores vazios (null / nan) no dataset

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   PRODUTO                        120823 non-null  object
 4   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 5   UNIDADE DE MEDIDA              120823 non-null  object
 6   PREÇO MÉDIO REVENDA            120823 non-null  float64
 7   DESVIO PADRÃO REVENDA          120823 non-null  float64
 8   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 9   PREÇO MÁXIMO REVENDA           120823 non-null  float64
 10  MARGEM MÉDIA REVENDA           120823 non-null  object
 11  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 12  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 13  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 14  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 15  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 16  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(11)
memory usage: 15.7+ MB

De um total de 106823 observações, **não há valores null** / nan para nenhum atributo. Mas, veremos que não é bem assim neste caso específico.<br/><br/>

### 2.2 Conversão de tipos de atributos

O pandas automaticamente reconhece os tipos de dados de cada coluna. <br/>
Porém, existem alguns atributos que estão com seus tipos errados: P. ex., "PREÇO MÉDIO DISTRIBUIÇÃO" deveria ser ```float64``` e não ```object```.<br/>
Nestes casos, muito provavelmente algumas amostras têm um string ao invés de um número para tais atributos. <br/>

Os atributos *"DATA INICIAL"* e *"DATA FINAL"* deveriam ser do tipo `datetime`.

Em outros casos, alguns **atributos categóricos** são ```objects```, mas poderiam ter o tipo ```category```, que é um tipo especial do pandas. <br/>
Este tipo é necessário para se utilizar algumas funções específicas do pandas. <br/>
**Não** converteremos para este tipo por ora.

In [27]:
data_pre = data.copy()

#### **Datas**
Como os atributos de data do datset já estão em um formato de data aceitável (YYYY-MM-DD), não precisamos forçar nenhuma conversão nesse sentido.

In [28]:
data_pre['DATA INICIAL'] = pd.to_datetime(data_pre['DATA INICIAL'])

In [29]:
data_pre['DATA FINAL'] = pd.to_datetime(data_pre['DATA FINAL'])

In [65]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   PRODUTO                        120823 non-null  object
 4   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 5   UNIDADE DE MEDIDA              120823 non-null  object
 6   PREÇO MÉDIO REVENDA            120823 non-null  float64
 7   DESVIO PADRÃO REVENDA          120823 non-null  float64
 8   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 9   PREÇO MÁXIMO REVENDA           120823 non-null  float64
 10  MARGEM MÉDIA REVENDA           120823 non-null  object
 11  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 12  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 13  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 14  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 15  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 16  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(9)
memory usage: 15.7+ MB

#### **Dados Numéricos**

In [30]:
lista = ['MARGEM MÉDIA REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO']

In [31]:
for atributo in lista:
    data_pre[atributo] = pd.to_numeric(data_pre[atributo], errors='coerce')

In [12]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   PRODUTO                        120823 non-null  object
 4   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 5   UNIDADE DE MEDIDA              120823 non-null  object
 6   PREÇO MÉDIO REVENDA            120823 non-null  float64
 7   DESVIO PADRÃO REVENDA          120823 non-null  float64
 8   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 9   PREÇO MÁXIMO REVENDA           120823 non-null  float64
 10  MARGEM MÉDIA REVENDA           117392 non-null  float64
 11  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 12  PREÇO MÉDIO DISTRIBUIÇÃO       117423 non-null  float64
 13  DESVIO PADRÃO DISTRIBUIÇÃO     117423 non-null  float64
 14  PREÇO MÍNIMO DISTRIBUIÇÃO      117423 non-null  float64
 15  PREÇO MÁXIMO DISTRIBUIÇÃO      117423 non-null  float64
 16  COEF DE VARIAÇÃO DISTRIBUIÇÃO  117423 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(1), object(3)
memory usage: 15.7+ MB

<br/>

Note que temos vários valores ***null*** agora **após a *conversão de tipos***. Vamos checá-los com mais cuidado nos dados originais e preprocessados.

### 2.3 Limpeza de dados

In [75]:
#O atributo não possui registros null, mas irei seguir como se fosse.
eh_null = data_pre['PREÇO MÍNIMO DISTRIBUIÇÃO'].isnull()
eh_null

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Name: PREÇO MÍNIMO DISTRIBUIÇÃO, Length: 120823, dtype: bool

In [76]:
data_pre[eh_null]

Empty DataFrame
Columns: [DATA INICIAL, DATA FINAL, REGIÃO, PRODUTO, NÚMERO DE POSTOS PESQUISADOS, UNIDADE DE MEDIDA, PREÇO MÉDIO REVENDA, DESVIO PADRÃO REVENDA, PREÇO MÍNIMO REVENDA, PREÇO MÁXIMO REVENDA, MARGEM MÉDIA REVENDA, COEF DE VARIAÇÃO REVENDA, PREÇO MÉDIO DISTRIBUIÇÃO, DESVIO PADRÃO DISTRIBUIÇÃO, PREÇO MÍNIMO DISTRIBUIÇÃO, PREÇO MÁXIMO DISTRIBUIÇÃO, COEF DE VARIAÇÃO DISTRIBUIÇÃO]
Index: []


<br/>

Poderíamos **preencher os valores NaN com um valor padrão**. Para isso, basta usar o método `.fillna`.

In [79]:
data_pre_fill = data_pre.fillna(0)
data_pre_fill

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [81]:
data_pre_fill = data_pre.fillna(value = {
    'DESVIO PADRÃO REVENDA' : 10,
    'PREÇO MÉDIO REVENDA' : 20
})

<br/>

Por mais que a função `fillna` seja interessante e útil em muitos casos, no problema em questão estamos interessados em analisar precisamente, p. ex., o **'PREÇO MÉDIO DISTRIBUIÇÃO'**.<br/>
A fim de não termos valores _sintéticos_ gerados pelo `fillna`, que possam atrapalhar nossa análise, iremos **remover (drop) todas as amostras que possuem qualquer valor NaN** para quaisquer atributos/colunas. <br/>

Para isso, basta utilizarmos o método `dropna`.

In [32]:
data_pre.dropna(inplace=True)
data = data_pre

In [33]:
data.to_csv(r'C:\Users\Armando\Downloads\archive\2004-2021.tsv')



Essas são apenas algumas das possíveis _técnicas de limpeza de dados_. Outras estratégias, p. ex., **confiam na detecção de outliers**, que não veremos neste curso.

<h2>3. Estatísticas Descritivas</h2>
<hr/>

O Pandas fornecem algumas funções/métodos ue computam certas estatísticas descritivas.

`describe`: exibe várias **estatísticas descritivas** para os _atributos_ de um dataframe ou para uma _Series_.

In [16]:
data.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

<br/>

Como o resultado do `describe` de um _dataframe_ é outro _dataframe_, podemos filtrar apenas algumas colunas.

In [17]:
data['PREÇO MÉDIO REVENDA'].describe()

count    117392.000000
mean         11.415039
std          19.149383
min           0.766000
25%           2.159000
50%           2.915000
75%           4.023000
max         107.500000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [18]:
data.describe()['PREÇO MÉDIO REVENDA']

count    117392.000000
mean         11.415039
std          19.149383
min           0.766000
25%           2.159000
50%           2.915000
75%           4.023000
max         107.500000
Name: PREÇO MÉDIO REVENDA, dtype: float64

**Acessando apenas algumas estatísticas**

In [20]:
stats = data.describe()
stats

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

In [23]:
stats.loc[['min', 'max', 'mean']]

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
min,1.00000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.00000,-99999.000000,-99999.000000
max,4167.00000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.00000,94.500000,0.780000
mean,226.63219,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.54345,-4682.203033,-4691.881144

In [24]:
stats['NÚMERO DE POSTOS PESQUISADOS']

count    117392.000000
mean        226.632190
std         392.042029
min           1.000000
25%          42.000000
50%         102.000000
75%         229.250000
max        4167.000000
Name: NÚMERO DE POSTOS PESQUISADOS, dtype: float64

In [28]:
stats.loc[['min', 'max', 'mean'], 'NÚMERO DE POSTOS PESQUISADOS']

min        1.00000
max     4167.00000
mean     226.63219
Name: NÚMERO DE POSTOS PESQUISADOS, dtype: float64

<br/>

`mean`, `std`, `min`, etc: cada uma das estatísticas do `describe` podem ser computadas individualmente:

#### Qual é o menor preço mínimo de revenda?

In [ ]:
data['PREÇO MÍNIMO REVENDA'].min()

#### Qual é a média e desvio padrão dos preços mínimos de revenda?

In [37]:
media = data['PREÇO MÍNIMO REVENDA'].mean()
desvio_padrao = data['PREÇO MÍNIMO REVENDA'].std()

print(f'A média dos preços mínimos de revenda é: {media:.2f}\nE seu desvio padrão é: {desvio_padrao:.2f}')

A média dos preços mínimos de revenda é: 9.92
E seu desvio padrão é: 16.42

#### Quais são as regiões consideradas?

In [39]:
data['REGIÃO']

0         CENTRO OESTE
1         CENTRO OESTE
2         CENTRO OESTE
3         CENTRO OESTE
4             NORDESTE
              ...
120818           NORTE
120819             SUL
120820         SUDESTE
120821        NORDESTE
120822           NORTE
Name: REGIÃO, Length: 117392, dtype: object

In [40]:
data['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

#### Quantos registros (aferições) cada região possui?

`.value_counts()`:  Conta a frequência dos valores de uma dada variável (de preferência, _categórica_).

In [41]:
data['REGIÃO'].value_counts()

NORDESTE        40590
NORTE           27287
SUDESTE         18967
CENTRO OESTE    16565
SUL             13983
Name: REGIÃO, dtype: int64

In [43]:
df_registros_regiao = data['REGIÃO'].value_counts().to_frame()

In [53]:
df_registros_regiao.rename(columns={'REGIÃO': 'REGISTROS'}, inplace=True)

In [54]:
df_registros_regiao

              REGISTROS
NORDESTE          40590
NORTE             27287
SUDESTE           18967
CENTRO OESTE      16565
SUL               13983

<h2>4. Executando funções para cada item de um DataFrame ou Series</h2>
<hr/>

Uma alternativa ao `for-loop` que vimos anteriormente e que é _lento_, é usarmos _funções próprias do pandas_ que **aplicam/mapeiam uma dada função a todos os elementos de um DataFrame ou Series**, retornando novos elementos "transformados".

<img src='./imagens/apply_map_applymap.png' width=300/>


Fonte: https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff

In [55]:
df = pd.DataFrame({ 'A': [1, 2, 3, 4], 
                    'B': [10, 20, 30, 40],
                    'C': [100, 200, 300, 400]}, 
                     index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

In [50]:
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

`apply()`: usado para aplicar uma função ao longo de um eixo de um DataFrame ou em valores de uma Series.

<img src='./imagens/pandas_axis.jpg' width=500/>

Fonte: https://www.allthesnippets.com/browse/pandas/df_axis.html

In [59]:
def nossa_soma(linha):
    return linha.sum()

In [66]:
df['SOMA(A,B,C)'] = df.apply(nossa_soma, axis =1)

In [72]:
df.dropna(inplace = True)

<img src='./imagens/apply_axis_1.png' width=250/>

In [73]:
df.loc['TOTAL COLUNA'] = df.apply(nossa_soma, axis = 0)
df

                 A      B       C  SOMA(A,B,C)
Linha 1        1.0   10.0   100.0        222.0
Linha 2        2.0   20.0   200.0        444.0
Linha 3        3.0   30.0   300.0        666.0
Linha 4        4.0   40.0   400.0        888.0
TOTAL COLUNA  30.0  300.0  3000.0       6660.0

<img src='./imagens/apply_axis_0.png' width=250/>

##### Usando `lambda` functions

In [77]:
df['MÉDIA(A, B, C)'] = df[['A', 'B', 'C']].apply(lambda series: series.mean(), axis = 1)

In [78]:
df

                 A      B       C  SOMA(A,B,C)  MÉDIA(A, B, C)
Linha 1        1.0   10.0   100.0        222.0            37.0
Linha 2        2.0   20.0   200.0        444.0            74.0
Linha 3        3.0   30.0   300.0        666.0           111.0
Linha 4        4.0   40.0   400.0        888.0           148.0
TOTAL COLUNA  30.0  300.0  3000.0       6660.0          1110.0

<img src='./imagens/apply_axis_1_mean.png' width=350/>

In [82]:
df.loc['MÉDIA(COLUNA)'] = df.loc[['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']].apply(lambda series: series.mean(), axis =0)
df

                  A      B       C  SOMA(A,B,C)  MÉDIA(A, B, C)
Linha 1         1.0   10.0   100.0        222.0            37.0
Linha 2         2.0   20.0   200.0        444.0            74.0
Linha 3         3.0   30.0   300.0        666.0           111.0
Linha 4         4.0   40.0   400.0        888.0           148.0
TOTAL COLUNA   30.0  300.0  3000.0       6660.0          1110.0
MÉDIA(COLUNA)   2.5   25.0   250.0        555.0            92.5

<h2>5. Agrupamento</h2>
<hr/>

`groupby`: Usado para criar **grupo de elementos** (e.x., baseado nos valores de um atributo). <br/>
**Funções** podem então ser aplicadas para os _elementos de cada grupo_, de modo que os **resultados de cada grupo são combinados**.

In [85]:
grupos_regiao = data.groupby('REGIÃO')

In [88]:
grupos_regiao.groups

{'CENTRO OESTE': [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], 'NORDESTE': [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], 'NORTE': [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], 'SUDESTE': [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], 'SUL': [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...]}

In [94]:
grupos_regiao.get_group('CENTRO OESTE')

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
27,2004-05-16,2004-05-22,CENTRO OESTE,ETANOL HIDRATADO,144,R$/l,1.271,0.039,1.060,1.300,0.448,0.031,0.823,0.111,0.4094,1.19310,0.135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120780,2021-04-25,2021-05-01,CENTRO OESTE,OLEO DIESEL,30,R$/l,4.203,0.174,3.889,4.649,-99999.000,0.041,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
120802,2021-04-25,2021-05-01,CENTRO OESTE,OLEO DIESEL S10,35,R$/l,4.318,0.141,4.058,4.599,-99999.000,0.033,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
120804,2021-04-25,2021-05-01,CENTRO OESTE,OLEO DIESEL S10,66,R$/l,4.402,0.150,4.140,4.799,-99999.000,0.034,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
120806,2021-04-25,2021-05-01,CENTRO OESTE,OLEO DIESEL S10,101,R$/l,4.594,0.139,4.299,4.899,-99999.000,0.030,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
120807,2021-04-25,2021-05-01,CENTRO OESTE,OLEO DIESEL S10,44,R$/l,4.232,0.151,3.990,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

In [97]:
grupos_regiao.describe()

             NÚMERO DE POSTOS PESQUISADOS                                      \
                                    count        mean         std  min    25%
REGIÃO
CENTRO OESTE                      16565.0  137.275521  103.448516  1.0   76.0
NORDESTE                          40590.0  118.363439  110.578621  1.0   38.0
NORTE                             27287.0   64.003921   51.745055  1.0   28.0
SUDESTE                           18967.0  684.316655  763.338730  1.0  146.0
SUL                               13983.0  343.313738  231.843167  1.0  150.0

                                   PREÇO MÉDIO REVENDA             ...  \
                50%    75%     max               count       mean  ...
REGIÃO                                                             ...
CENTRO OESTE  118.0  176.0   766.0             16565.0  12.873181  ...
NORDESTE       84.0  153.0   625.0             40590.0  10.202962  ...
NORTE          50.0   89.0   383.0             27287.0  13.397427  ...
SUDESTE       384.0  984.0  4167.0             18967.0  10.338534  ...
SUL           355.0  542.5  1416.0             13983.0  10.797774  ...

             PREÇO MÁXIMO DISTRIBUIÇÃO        COEF DE VARIAÇÃO DISTRIBUIÇÃO  \
                                   75%    max                         count
REGIÃO
CENTRO OESTE                   3.65000  94.50                       16565.0
NORDESTE                       3.43080  89.90                       40590.0
NORTE                          3.88490  88.00                       27287.0
SUDESTE                        3.53805  76.05                       18967.0
SUL                            3.47025  74.00                       13983.0


                     mean           std      min    25%    50%    75%    max
REGIÃO
CENTRO OESTE -4811.263454  21401.044211 -99999.0  0.017  0.027  0.049  0.419
NORDESTE     -4614.345790  20979.826818 -99999.0  0.018  0.030  0.061  0.608
NORTE        -4760.427972  21293.104215 -99999.0  0.017  0.027  0.043  0.368
SUDESTE      -4502.455107  20736.375552 -99999.0  0.023  0.035  0.079  0.780
SUL          -4898.703597  21584.874201 -99999.0  0.023  0.034  0.082  0.435

[5 rows x 96 columns]

In [99]:
grupos_regiao.mean()

C:\Users\Armando\AppData\Local\Temp\ipykernel_3100\1911814995.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupos_regiao.mean()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
REGIÃO,,,,,,,,,,,,
CENTRO OESTE,137.275521,12.873181,0.738618,11.086225,14.732801,-4808.871317,0.041948,-4801.630072,-4810.611556,-4802.940678,-4800.385898,-4811.263454
NORDESTE,118.363439,10.202962,0.576010,8.982218,11.518819,-4627.099422,0.041058,-4606.907509,-4613.883482,-4607.830545,-4605.956692,-4614.345790
NORTE,64.003921,13.397427,0.741401,12.149052,15.257880,-4758.258064,0.047056,-4750.097756,-4760.014513,-4750.990229,-4749.207684,-4760.427972
SUDESTE,684.316655,10.338534,0.710891,8.427834,12.526857,-4516.020832,0.054994,-4495.080899,-4501.941172,-4496.505864,-4493.271157,-4502.455107
SUL,343.313738,10.797774,0.757697,8.958349,13.032530,-4896.484015,0.047411,-4890.882948,-4898.045911,-4892.360255,-4889.043826,-4898.703597

In [100]:
grupos_regiao.min()

,DATA INICIAL,DATA FINAL,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
REGIÃO,,,,,,,,,,,,,,,,
CENTRO OESTE,2004-05-09,2004-05-15,ETANOL HIDRATADO,1,R$/13Kg,1.097,0.0,0.87,1.099,-99999.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
NORDESTE,2004-05-09,2004-05-15,ETANOL HIDRATADO,1,R$/13Kg,0.975,0.0,0.79,0.999,-99999.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
NORTE,2004-05-09,2004-05-15,ETANOL HIDRATADO,1,R$/13Kg,1.226,0.0,1.05,1.300,-99999.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
SUDESTE,2004-05-09,2004-05-15,ETANOL HIDRATADO,1,R$/13Kg,0.766,0.0,0.59,1.099,-99999.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
SUL,2004-05-09,2004-05-15,ETANOL HIDRATADO,1,R$/13Kg,0.922,0.0,0.73,1.199,-99999.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

<br/>

Também podemos ter agrupamentos por mais de um atributo.

In [105]:
regiao_produto = data.groupby(['REGIÃO', 'PRODUTO'])
regiao_produto.groups

{('CENTRO OESTE', 'ETANOL HIDRATADO'): [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], ('CENTRO OESTE', 'GASOLINA ADITIVADA'): [115915, 115917, 115919, 115920, 116090, 116092, 116094, 116095, 116263, 116265, 116267, 116268, 116438, 116440, 116442, 116443, 116615, 116617, 116619, 116620, 116791, 116793, 116795, 116796, 116965, 116967, 116969, 116970, 117139, 117141, 117143, 117144, 117313, 117315, 117317, 117318, 117485, 117487, 117489, 117490, 117662, 117664, 117666, 117667, 117836, 117838, 117840, 117841, 118011, 118013, 118015, 118016, 118187, 118189, 118191, 118192, 118363, 118365, 118367, 118368, 118539, 118541, 118543, 118544, 118716, 118718, 118720, 118721, 118893, 118895, 118897, 118898, 119071, 119073, 119075, 119076, 119248, 119250, 119252, 119253, 119428, 119430, 119432, 119433, 119608, 119610, 119612, 119613, 119786, 119788, 119790, 119791, 119964, 119966, 119968, 119969, 120142, 120144, 120146, 120147, ...], ('CENTRO OESTE', 'GASOLINA COMUM'): [12064, 12065, 12066, 12067, 12091, 12092, 12093, 12094, 12118, 12119, 12120, 12121, 12145, 12146, 12147, 12148, 12172, 12173, 12174, 12175, 12199, 12200, 12201, 12202, 12226, 12227, 12228, 12229, 12253, 12254, 12255, 12256, 12280, 12281, 12282, 12283, 12307, 12308, 12309, 12310, 12334, 12335, 12336, 12337, 12361, 12362, 12363, 12364, 12388, 12389, 12390, 12391, 12415, 12416, 12417, 12418, 12442, 12443, 12444, 12445, 12469, 12470, 12471, 12472, 12496, 12497, 12498, 12499, 12523, 12524, 12525, 12526, 12550, 12551, 12552, 12553, 12577, 12578, 12579, 12580, 12604, 12605, 12606, 12607, 12631, 12632, 12633, 12634, 12658, 12659, 12660, 12661, 12685, 12686, 12687, 12688, 12712, 12713, 12714, 12715, ...], ('CENTRO OESTE', 'GLP'): [24132, 24133, 24134, 24135, 24159, 24160, 24161, 24162, 24186, 24187, 24188, 24189, 24213, 24214, 24215, 24216, 24240, 24241, 24242, 24243, 24267, 24268, 24269, 24270, 24294, 24295, 24296, 24297, 24321, 24322, 24323, 24324, 24348, 24349, 24350, 24351, 24375, 24376, 24377, 24378, 24402, 24403, 24404, 24405, 24429, 24430, 24431, 24432, 24456, 24457, 24458, 24459, 24483, 24484, 24485, 24486, 24510, 24511, 24512, 24513, 24537, 24538, 24539, 24540, 24564, 24565, 24566, 24567, 24591, 24592, 24593, 24594, 24618, 24619, 24620, 24621, 24645, 24646, 24647, 24648, 24672, 24673, 24674, 24675, 24699, 24700, 24701, 24702, 24726, 24727, 24728, 24729, 24753, 24754, 24755, 24756, 24780, 24781, 24782, 24783, ...], ('CENTRO OESTE', 'GNV'): [36196, 36211, 36226, 36241, 36256, 36271, 36286, 36301, 36316, 36331, 36346, 36361, 36377, 36393, 36409, 36425, 36441, 36457, 36473, 36489, 36505, 36521, 36537, 36553, 36569, 36585, 36601, 36617, 36633, 36649, 36665, 36681, 36697, 36713, 36729, 36745, 36761, 36777, 36793, 36809, 36825, 36841, 36857, 36873, 36889, 36905, 36921, 36937, 36953, 36969, 36985, 37001, 37017, 37033, 37049, 37065, 37081, 37097, 37113, 37129, 37145, 37161, 37177, 37193, 37209, 37225, 37242, 37274, 37290, 37307, 37322, 37353, 37368, 37383, 37399, 37415, 37430, 37446, 37462, 37478, 37494, 37510, 37526, 37542, 37558, 37574, 37590, 37606, 37621, 37637, 37653, 37669, 37686, 37702, 37718, 37734, 37750, 37766, 37782, 37798, ...], ('CENTRO OESTE', 'OLEO DIESEL'): [106925, 106927, 106929, 106930, 107075, 107077, 107079, 107080, 107226, 107228, 107230, 107231, 107376, 107378, 107380, 107381, 107526, 107528, 107530, 107531, 107675, 107677, 107679, 107680, 107824, 107826, 107828, 107829, 107973, 107975, 107977, 107978, 108123, 108125, 108127, 108128, 108272, 108274, 108276, 108277, 108422, 108424, 108426, 108427, 108572, 108574, 108576, 108577, 108723, 108725, 108727, 108728, 108874, 108876, 108878, 108879, 109025, 109027, 109029, 109030, 109175, 109177, 109179, 109180, 109326, 109328, 109330, 109331, 109477, 109479, 109481, 109482, 109626, 109628, 109630, 109631, 109776, 109778, 109780, 109781, 109925, 109927, 109929, 109930, 110076, 110078, 110080, 110081, 110226, 110228, 110230, 110231, 110378, 110380, 110382, 110383, 110532, 110534, 110536, 110537, ...], ('CENTRO OESTE', 'OLEO DIESEL S10'): [106952, 106954, 106956, 106957, 107102, 107104, 107106, 107107, 107253, 107255, 107257, 107258, 107403, 107405, 107407, 107408, 107553, 107555, 107557, 107558, 107702, 107704, 107706, 107707, 107851, 107853, 107855, 107856, 108000, 108002, 108004, 108005, 108150, 108152, 108154, 108155, 108299, 108301, 108303, 108304, 108449, 108451, 108453, 108454, 108599, 108601, 108603, 108604, 108750, 108752, 108754, 108755, 108901, 108903, 108905, 108906, 109052, 109054, 109056, 109057, 109202, 109204, 109206, 109207, 109353, 109355, 109357, 109358, 109504, 109506, 109508, 109509, 109653, 109655, 109657, 109658, 109803, 109805, 109807, 109808, 109952, 109954, 109956, 109957, 110103, 110105, 110107, 110108, 110253, 110255, 110257, 110258, 110405, 110407, 110409, 110410, 110559, 110561, 110563, 110564, ...], ('CENTRO OESTE', 'ÓLEO DIESEL'): [43547, 43548, 43549, 43550, 43574, 43575, 43576, 43577, 43601, 43602, 43603, 43604, 43628, 43629, 43630, 43631, 43655, 43656, 43657, 43658, 43682, 43683, 43684, 43685, 43709, 43710, 43711, 43712, 43736, 43737, 43738, 43739, 43763, 43764, 43765, 43766, 43790, 43791, 43792, 43793, 43817, 43818, 43819, 43820, 43844, 43845, 43846, 43847, 43871, 43872, 43873, 43874, 43898, 43899, 43900, 43901, 43925, 43926, 43927, 43928, 43952, 43953, 43954, 43955, 43979, 43980, 43981, 43982, 44006, 44007, 44008, 44009, 44033, 44034, 44035, 44036, 44060, 44061, 44062, 44063, 44087, 44088, 44089, 44090, 44114, 44115, 44116, 44117, 44141, 44142, 44143, 44144, 44168, 44169, 44170, 44171, 44195, 44196, 44197, 44198, ...], ('CENTRO OESTE', 'ÓLEO DIESEL S10'): [55821, 55822, 55969, 55971, 55972, 56121, 56123, 56124, 56272, 56274, 56276, 56277, 56427, 56429, 56430, 56579, 56581, 56582, 56731, 56733, 56734, 56884, 56886, 56887, 57037, 57039, 57040, 57189, 57191, 57192, 57341, 57343, 57344, 57492, 57494, 57495, 57644, 57646, 57647, 57797, 57799, 57800, 57947, 57949, 57951, 57952, 58099, 58101, 58103, 58104, 58251, 58253, 58255, 58256, 58402, 58404, 58406, 58407, 58554, 58556, 58558, 58559, 58706, 58708, 58710, 58711, 58858, 58860, 58862, 58863, 59011, 59013, 59015, 59016, 59165, 59167, 59168, 59317, 59319, 59320, 59470, 59472, 59473, 59622, 59624, 59625, 59775, 59777, 59778, 59927, 59929, 59930, 60080, 60082, 60083, 60233, 60235, 60236, 60385, 60387, ...], ('NORDESTE', 'ETANOL HIDRATADO'): [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], ('NORDESTE', 'GASOLINA ADITIVADA'): [115911, 115914, 115918, 115923, 115925, 115926, 115928, 115934, 116086, 116089, 116093, 116098, 116100, 116101, 116103, 116109, 116260, 116262, 116266, 116271, 116273, 116274, 116276, 116282, 116433, 116436, 116437, 116441, 116446, 116448, 116449, 116451, 116457, 116611, 116614, 116618, 116623, 116625, 116626, 116628, 116634, 116786, 116789, 116790, 116794, 116799, 116801, 116802, 116804, 116810, 116960, 116963, 116964, 116968, 116973, 116975, 116976, 116978, 116984, 117134, 117137, 117138, 117142, 117147, 117149, 117150, 117152, 117158, 117308, 117311, 117312, 117316, 117321, 117323, 117324, 117326, 117332, 117480, 117483, 117484, 117488, 117493, 117495, 117496, 117498, 117504, 117657, 117660, 117661, 117665, 117670, 117672, 117673, 117675, 117681, 117831, 117834, 117835, 117839, 117844, ...], ('NORDESTE', 'GASOLINA COMUM'): [12068, 12069, 12070, 12071, 12072, 12073, 12074, 12075, 12076, 12095, 12096, 12097, 12098, 12099, 12100, 12101, 12102, 12103, 12122, 12123, 12124, 12125, 12126, 12127, 12128, 12129, 12130, 12149, 12150, 12151, 12152, 12153, 12154, 12155, 12156, 12157, 12176, 12177, 12178, 12179, 12180, 12181, 12182, 12183, 12184, 12203, 12204, 12205, 12206, 12207, 12208, 12209, 12210, 12211, 12230, 12231, 12232, 12233, 12234, 12235, 12236, 12237, 12238, 12257, 12258, 12259, 12260, 12261, 12262, 12263, 12264, 12265, 12284, 12285, 12286, 12287, 12288, 12289, 12290, 12291, 12292, 12311, 12312, 12313, 12314, 12315, 12316, 12317, 12318, 12319, 12338, 12339, 12340, 12341, 12342, 12343, 12344, 12345, 12346, 12365, ...], ('NORDESTE', 'GLP'): [24136, 24137, 24138, 24139, 24140, 24141, 24142, 24143, 24144, 24163, 24164, 24165, 24166, 24167, 24168, 24169, 24170, 24171, 24190, 24191, 24192, 24193, 24194, 24195, 24196, 24197, 24198, 24217, 24218, 24219, 24220, 24221, 24222, 24223, 24224, 24225, 24244, 24245, 24246, 24247, 24248, 24249, 24250, 24251, 24252, 24271, 24272, 24273, 24274, 24275, 24276, 24277, 24278, 24279, 24298, 24299, 24300, 24301, 24302, 24303, 24304, 24305, 24306, 24325, 24326, 24327, 24328, 24329, 24330, 24331, 24332, 24333, 24352, 24353, 24354, 24355, 24356, 24357, 24358, 24359, 24360, 24379, 24380, 24381, 24382, 24383, 24384, 24385, 24386, 24387, 24406, 24407, 24408, 24409, 24410, 24411, 24412, 24413, 24414, 24433, ...], ('NORDESTE', 'GNV'): [36197, 36198, 36199, 36200, 36201, 36202, 36203, 36212, 36213, 36214, 36215, 36216, 36217, 36218, 36227, 36228, 36229, 36230, 36231, 36232, 36233, 36242, 36243, 36244, 36245, 36246, 36247, 36248, 36257, 36258, 36259, 36260, 36261, 36262, 36263, 36272, 36273, 36274, 36275, 36276, 36277, 36278, 36287, 36288, 36289, 36290, 36291, 36292, 36293, 36302, 36303, 36304, 36305, 36306, 36307, 36308, 36317, 36318, 36319, 36320, 36321, 36322, 36323, 36332, 36333, 36334, 36335, 36336, 36337, 36338, 36347, 36348, 36349, 36350, 36351, 36352, 36353, 36362, 36363, 36364, 36365, 36366, 36368, 36369, 36378, 36379, 36380, 36381, 36382, 36384, 36385, 36394, 36395, 36396, 36397, 36398, 36400, 36401, 36410, 36411, ...], ('NORDESTE', 'OLEO DIESEL'): [106920, 106923, 106924, 106928, 106933, 106935, 106936, 106938, 106944, 107070, 107073, 107074, 107078, 107083, 107085, 107086, 107088, 107094, 107221, 107224, 107225, 107229, 107234, 107236, 107237, 107239, 107245, 107371, 107374, 107375, 107379, 107384, 107386, 107387, 107389, 107395, 107521, 107524, 107525, 107529, 107534, 107536, 107537, 107539, 107545, 107670, 107673, 107674, 107678, 107683, 107685, 107686, 107688, 107694, 107819, 107822, 107823, 107827, 107832, 107834, 107835, 107837, 107843, 107968, 107971, 107972, 107976, 107981, 107983, 107984, 107986, 107992, 108118, 108121, 108122, 108126, 108131, 108133, 108134, 108136, 108142, 108267, 108270, 108271, 108275, 108280, 108282, 108283, 108285, 108291, 108417, 108420, 108421, 108425, 108430, 108432, 108433, 108435, 108441, 108567, ...], ('NORDESTE', 'OLEO DIESEL S10'): [106947, 106950, 106951, 106955, 106960, 106962, 106963, 106965, 106971, 107097, 107100, 107101, 107105, 107110, 107112, 107113, 107115, 107121, 107248, 107251, 107252, 107256, 107261, 107263, 107264, 107266, 107272, 107398, 107401, 107402, 107406, 107411, 107413, 107414, 107416, 107422, 107548, 107551, 107552, 107556, 107561, 107563, 107564, 107566, 107572, 107697, 107700, 107701, 107705, 107710, 107712, 107713, 107715, 107721, 107846, 107849, 107850, 107854, 107859, 107861, 107862, 107864, 107870, 107995, 107998, 107999, 108003, 108008, 108010, 108011, 108013, 108019, 108145, 108148, 108149, 108153, 108158, 108160, 108161, 108163, 108169, 108294, 108297, 108298, 108302, 108307, 108309, 108310, 108312, 108318, 108444, 108447, 108448, 108452, 108457, 108459, 108460, 108462, 108468, 108594, ...], ('NORDESTE', 'ÓLEO DIESEL'): [43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558, 43559, 43578, 43579, 43580, 43581, 43582, 43583, 43584, 43585, 43586, 43605, 43606, 43607, 43608, 43609, 43610, 43611, 43612, 43613, 43632, 43633, 43634, 43635, 43636, 43637, 43638, 43639, 43640, 43659, 43660, 43661, 43662, 43663, 43664, 43665, 43666, 43667, 43686, 43687, 43688, 43689, 43690, 43691, 43692, 43693, 43694, 43713, 43714, 43715, 43716, 43717, 43718, 43719, 43720, 43721, 43740, 43741, 43742, 43743, 43744, 43745, 43746, 43747, 43748, 43767, 43768, 43769, 43770, 43771, 43772, 43773, 43774, 43775, 43794, 43795, 43796, 43797, 43798, 43799, 43800, 43801, 43802, 43821, 43822, 43823, 43824, 43825, 43826, 43827, 43828, 43829, 43848, ...], ('NORDESTE', 'ÓLEO DIESEL S10'): [55669, 55670, 55677, 55679, 55814, 55816, 55817, 55820, 55827, 55828, 55830, 55835, 55962, 55965, 55966, 55970, 55975, 55977, 55978, 55980, 55986, 56114, 56117, 56118, 56122, 56127, 56129, 56130, 56132, 56138, 56267, 56270, 56271, 56275, 56280, 56282, 56283, 56285, 56291, 56420, 56423, 56424, 56428, 56433, 56435, 56436, 56438, 56444, 56572, 56575, 56576, 56580, 56585, 56587, 56588, 56590, 56596, 56724, 56727, 56728, 56732, 56737, 56739, 56740, 56742, 56748, 56877, 56880, 56881, 56885, 56890, 56892, 56893, 56895, 56901, 57030, 57033, 57034, 57038, 57043, 57045, 57046, 57048, 57054, 57182, 57185, 57186, 57190, 57195, 57197, 57198, 57200, 57206, 57334, 57337, 57338, 57342, 57347, 57349, 57350, ...], ('NORTE', 'ETANOL HIDRATADO'): [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], ('NORTE', 'GASOLINA ADITIVADA'): [115910, 115912, 115913, 115922, 115930, 115931, 115935, 116085, 116087, 116088, 116097, 116105, 116106, 116110, 116259, 116261, 116270, 116278, 116279, 116283, 116432, 116434, 116435, 116445, 116453, 116454, 116458, 116610, 116612, 116613, 116622, 116630, 116631, 116635, 116785, 116787, 116788, 116798, 116806, 116807, 116811, 116959, 116961, 116962, 116972, 116980, 116981, 116985, 117133, 117135, 117136, 117146, 117154, 117155, 117159, 117307, 117309, 117310, 117320, 117328, 117329, 117333, 117479, 117481, 117482, 117492, 117500, 117501, 117505, 117656, 117658, 117659, 117669, 117677, 117678, 117682, 117830, 117832, 117833, 117843, 117851, 117852, 117856, 118005, 118007, 118008, 118018, 118026, 118027, 118031, 118181, 118183, 118184, 118194, 118202, 118203, 118207, 118357, 118359, 118360, ...], ('NORTE', 'GASOLINA COMUM'): [12077, 12078, 12079, 12080, 12081, 12082, 12083, 12104, 12105, 12106, 12107, 12108, 12109, 12110, 12131, 12132, 12133, 12134, 12135, 12136, 12137, 12158, 12159, 12160, 12161, 12162, 12163, 12164, 12185, 12186, 12187, 12188, 12189, 12190, 12191, 12212, 12213, 12214, 12215, 12216, 12217, 12218, 12239, 12240, 12241, 12242, 12243, 12244, 12245, 12266, 12267, 12268, 12269, 12270, 12271, 12272, 12293, 12294, 12295, 12296, 12297, 12298, 12299, 12320, 12321, 12322, 12323, 12324, 12325, 12326, 12347, 12348, 12349, 12350, 12351, 12352, 12353, 12374, 12375, 12376, 12377, 12378, 12379, 12380, 12401, 12402, 12403, 12404, 12405, 12406, 12407, 12428, 12429, 12430, 12431, 12432, 12433, 12434, 12455, 12456, ...], ('NORTE', 'GLP'): [24145, 24146, 24147, 24148, 24149, 24150, 24151, 24172, 24173, 24174, 24175, 24176, 24177, 24178, 24199, 24200, 24201, 24202, 24203, 24204, 24205, 24226, 24227, 24228, 24229, 24230, 24231, 24232, 24253, 24254, 24255, 24256, 24257, 24258, 24259, 24280, 24281, 24282, 24283, 24284, 24285, 24286, 24307, 24308, 24309, 24310, 24311, 24312, 24313, 24334, 24335, 24336, 24337, 24338, 24339, 24340, 24361, 24362, 24363, 24364, 24365, 24366, 24367, 24388, 24389, 24390, 24391, 24392, 24393, 24394, 24415, 24416, 24417, 24418, 24419, 24420, 24421, 24442, 24443, 24444, 24445, 24446, 24447, 24448, 24469, 24470, 24471, 24472, 24473, 24474, 24475, 24496, 24497, 24498, 24499, 24500, 24501, 24502, 24523, 24524, ...], ('NORTE', 'GNV'): [37299, 37391, 37407, 37438, 37454, 37470, 37486, 37502, 37518, 37534, 37550, 37566, 37582, 37598, 37629, 37645, 37661, 37678, 37694, 37710, 37726, 37742, 37758, 37774, 37790, 37806, 37822, 37838, 37854, 37870, 37887, 37904, 37921, 37938, 37955, 37972, 37989, 38006, 38023, 38040, 38057, 38074, 38091, 38123, 38140, 38156, 38173, 38190, 38207, 38224, 38241, 38258, 38275, 38292, 38309, 38326, 38342, 38359, 38376, 38392, 38409, 38426, 38443, 38460, 38477, 38510, 38559, 38592, 38609, 38626, 38643, 38660, 38693, 38710, 38727, 38760, 38793, 38826, 38859, 39502, 39534, 39551, 40039, 40121, 40138, 40783, 41188, 41256, 41292, 41325, 42178, 42993, 43096, 43231, 43264, 43282, 43316, 43334, 43367, 43450, ...], ('NORTE', 'OLEO DIESEL'): [106919, 106921, 106922, 106932, 106940, 106941, 106945, 107069, 107071, 107072, 107082, 107090, 107091, 107095, 107220, 107222, 107223, 107233, 107241, 107242, 107246, 107370, 107372, 107373, 107383, 107391, 107392, 107396, 107520, 107522, 107523, 107533, 107541, 107542, 107546, 107669, 107671, 107672, 107682, 107690, 107691, 107695, 107818, 107820, 107821, 107831, 107839, 107840, 107844, 107967, 107969, 107970, 107980, 107988, 107989, 107993, 108117, 108119, 108120, 108130, 108138, 108139, 108143, 108266, 108268, 108269, 108279, 108287, 108288, 108292, 108416, 108418, 108419, 108429, 108437, 108438, 108442, 108566, 108568, 108569, 108579, 108587, 108588, 108592, 108717, 108719, 108720, 108730, 108738, 108739, 108743, 108868, 108870, 108871, 108881, 108889, 108890, 108894, 109019, 109021, ...], ('NORTE', 'OLEO DIESEL S10'): [106946, 106948, 106949, 106959, 106967, 106968, 106972, 107096, 107098, 107099, 107109, 107117, 107118, 107122, 107247, 107249, 107250, 107260, 107268, 107269, 107273, 107397, 107399, 107400, 107410, 107418, 107419, 107423, 107547, 107549, 107550, 107560, 107568, 107569, 107573, 107696, 107698, 107699, 107709, 107717, 107718, 107722, 107845, 107847, 107848, 107858, 107866, 107867, 107871, 107994, 107996, 107997, 108007, 108015, 108016, 108020, 108144, 108146, 108147, 108157, 108165, 108166, 108170, 108293, 108295, 108296, 108306, 108314, 108315, 108319, 108443, 108445, 108446, 108456, 108464, 108465, 108469, 108593, 108595, 108596, 108606, 108614, 108615, 108619, 108744, 108746, 108747, 108757, 108765, 108766, 108770, 108895, 108897, 108898, 108908, 108916, 108917, 108921, 109046, 109048, ...], ('NORTE', 'ÓLEO DIESEL'): [43560, 43561, 43562, 43563, 43564, 43565, 43566, 43587, 43588, 43589, 43590, 43591, 43592, 43593, 43614, 43615, 43616, 43617, 43618, 43619, 43620, 43641, 43642, 43643, 43644, 43645, 43646, 43647, 43668, 43669, 43670, 43671, 43672, 43673, 43674, 43695, 43696, 43697, 43698, 43699, 43700, 43701, 43722, 43723, 43724, 43725, 43726, 43727, 43728, 43749, 43750, 43751, 43752, 43753, 43754, 43755, 43776, 43777, 43778, 43779, 43780, 43781, 43782, 43803, 43804, 43805, 43806, 43807, 43808, 43809, 43830, 43831, 43832, 43833, 43834, 43835, 43836, 43857, 43858, 43859, 43860, 43861, 43862, 43863, 43884, 43885, 43886, 43887, 43888, 43889, 43890, 43911, 43912, 43913, 43914, 43915, 43916, 43917, 43938, 43939, ...], ('NORTE', 'ÓLEO DIESEL S10'): [55676, 55682, 55815, 55824, 55832, 55964, 55974, 55983, 56113, 56116, 56126, 56135, 56269, 56279, 56288, 56419, 56422, 56432, 56441, 56445, 56571, 56574, 56584, 56593, 56597, 56723, 56726, 56736, 56745, 56749, 56876, 56879, 56889, 56897, 56898, 56902, 57029, 57032, 57042, 57050, 57051, 57055, 57181, 57183, 57184, 57194, 57202, 57203, 57207, 57333, 57335, 57336, 57346, 57354, 57355, 57359, 57484, 57486, 57487, 57497, 57505, 57506, 57510, 57636, 57638, 57639, 57649, 57657, 57658, 57662, 57789, 57791, 57792, 57802, 57810, 57811, 57815, 57941, 57943, 57944, 57954, 57962, 57963, 57967, 5809

In [106]:
regiao_produto.mean()

C:\Users\Armando\AppData\Local\Temp\ipykernel_3100\79766469.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  regiao_produto.mean()

                                 NÚMERO DE POSTOS PESQUISADOS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                      150.655728
             GASOLINA ADITIVADA                     39.973214
             GASOLINA COMUM                        150.575445
             GLP                                   191.095942
             GNV                                     3.479397
             OLEO DIESEL                            63.187500
             OLEO DIESEL S10                        87.204545
             ÓLEO DIESEL                           131.940332
             ÓLEO DIESEL S10                        76.054545
NORDESTE     ETANOL HIDRATADO                      148.186017
             GASOLINA ADITIVADA                     41.177419
             GASOLINA COMUM                        167.244176
             GLP                                   120.881005
             GNV                                    16.815257
             OLEO DIESEL                            43.659411
             OLEO DIESEL S10                        95.311869
             ÓLEO DIESEL                           135.536185
             ÓLEO DIESEL S10                        93.857190
NORTE        ETANOL HIDRATADO                       45.285317
             GASOLINA ADITIVADA                     18.756477
             GASOLINA COMUM                         74.600493
             GLP                                    87.497560
             GNV                                     1.343042
             OLEO DIESEL                            30.357143
             OLEO DIESEL S10                        38.157468
             ÓLEO DIESEL                            68.135956
             ÓLEO DIESEL S10                        40.495267
SUDESTE      ETANOL HIDRATADO                      990.455145
             GASOLINA ADITIVADA                    227.857143
             GASOLINA COMUM                       1002.813574
             GLP                                   718.382454
             GNV                                    77.265268
             OLEO DIESEL                           280.326705
             OLEO DIESEL S10                       446.508523
             ÓLEO DIESEL                           771.300955
             ÓLEO DIESEL S10                       419.743514
SUL          ETANOL HIDRATADO                      427.996943
             GASOLINA ADITIVADA                    118.738095
             GASOLINA COMUM                        472.720015
             GLP                                   461.231300
             GNV                                    20.491909
             OLEO DIESEL                           142.136364
             OLEO DIESEL S10                       221.026515
             ÓLEO DIESEL                           364.170348
             ÓLEO DIESEL S10                       230.283597

                                 PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO               2.246178               0.114357
             GASOLINA ADITIVADA             5.094830               0.146732
             GASOLINA COMUM                 3.222415               0.107976
             GLP                           51.361335               3.166310
             GNV                            2.038280               0.033423
             OLEO DIESEL                    3.713054               0.140094
             OLEO DIESEL S10                3.813543               0.145886
             ÓLEO DIESEL                    2.481286               0.081540
             ÓLEO DIESEL S10                3.294752               0.108976
NORDESTE     ETANOL HIDRATADO               2.450350               0.119643
             GASOLINA ADITIVADA             5.069589               0.154085
             GASOLINA COMUM                 3.156391               0.112682
             GLP                           45.196169               2.799276
             GNV                            2.033291               0.064330
             OLEO DIESEL                    3.678478               0.134749
             OLEO DIESEL S10                3.732889               0.143567
             ÓLEO DIESEL                    2.346950               0.069301
             ÓLEO DIESEL S10                3.041966               0.091881
NORTE        ETANOL HIDRATADO               2.642997               0.127988
             GASOLINA ADITIVADA             5.020130               0.126767
             GASOLINA COMUM                 3.285116               0.142853
             GLP                           50.835467               2.943641
             GNV                            2.373379               0.007463
             OLEO DIESEL                    3.935767               0.186424
             OLEO DIESEL S10                3.972659               0.191718
             ÓLEO DIESEL                    2.571048               0.105590
             ÓLEO DIESEL S10                3.316231               0.127927
SUDESTE      ETANOL HIDRATADO               2.292143               0.141242
             GASOLINA ADITIVADA             5.116277               0.209036
             GASOLINA COMUM                 3.161360               0.126972
             GLP                           44.860509               3.313045
             GNV                            1.872572               0.137582
             OLEO DIESEL                    3.578250               0.166869
             OLEO DIESEL S10                3.692063               0.176957
             ÓLEO DIESEL                    2.339699               0.082670
             ÓLEO DIESEL S10                3.056194               0.109765
SUL          ETANOL HIDRATADO               2.411797               0.131124
             GASOLINA ADITIVADA             4.907976               0.202548
             GASOLINA COMUM                 3.112737               0.123765
             GLP                           46.543403               3.589349
             GNV                            2.038801               0.073986
             OLEO DIESEL                    3.473068               0.160129
             OLEO DIESEL S10                3.556614               0.176769
             ÓLEO DIESEL                    2.332293               0.081869
             ÓLEO DIESEL S10                2.981775               0.110249

                                 PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                2.032119              2.552269
             GASOLINA ADITIVADA              4.787268              5.449670
             GASOLINA COMUM                  3.004751              3.495984
             GLP                            43.526536             59.329226
             GNV                             2.007052              2.067551
             OLEO DIESEL                     3.446420              4.071264
             OLEO DIESEL S10                 3.522011              4.214043
             ÓLEO DIESEL                     2.310497              2.686205
             ÓLEO DIESEL S10                 3.070625              3.559399
NORDESTE     ETANOL HIDRATADO                2.223953              2.795075
             GASOLINA ADITIVADA              4.789581              5.375790
             GASOLINA COMUM                  2.930183              3.446488
             GLP                            39.143332             51.407072
             GNV                             1.969679              2.193925
             OLEO DIESEL                     3.462612              4.002323
             OLEO DIESEL S10                 3.467635              4.137511
             ÓLEO DIESEL                     2.203687              2.534809
             ÓLEO DIESEL S10                 2.851121              3.304049
NORTE        ETANOL HIDRATADO                2.459406              2.989098
             GASOLINA ADITIVADA              4.856601              5.285363
             GASOLINA COMUM                  3.089484              3.685939
             GLP                            45.772916             58.159671
             GNV                             2.368243              2.379793
             OLEO DIESEL                     3.659252              4.380405
             OLEO DIESEL S10                 3.708325              4.461097
             ÓLEO DIESEL                     2.400341              2.831189
             ÓLEO DIESEL S10                 3.128494              3.645934
SUDESTE      ETANOL HIDRATADO                1.927714              2.786203
             GASOLINA ADITIVADA              4.609911              5.849241
             GASOLINA COMUM                  2.846054              3.645585
             GLP                            35.709713             54.786829
             GNV                             1.701172              2.294974
             OLEO DIESEL                     3.235909              4.235813
             OLEO DIESEL S10                 3.295466              4.427134
             ÓLEO DIESEL                     2.118881              2.659866
             ÓLEO DIESEL S10                 2.765417              3.457892
SUL          ETANOL HIDRATADO                2.079723              2.841739
             GASOLINA ADITIVADA              4.483357              5.518131
             GASOLINA COMUM                  2.811782              3.501471
             GLP                            37.766601             57.014814
             GNV                             1.942687              2.232564
             OLEO DIESEL                     3.165186              3.967932
             OLEO DIESEL S10                 3.207678              4.162288
             ÓLEO DIESEL                     2.124973              2.611223
             ÓLEO DIESEL S10                 2.707439              3.366409

                                 MARGEM MÉDIA REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO            -3223.591974
             GASOLINA ADITIVADA         -99999.000000
             GASOLINA COMUM              -3212.417264
             GLP                         -3525.821818
             GNV                        -11557.247129
             OLEO DIESEL                -31817.580852
             OLEO DIESEL S10            -31817.568841
             ÓLEO DIESEL                     0.269293
             ÓLEO DIESEL S10                 0.375726
NORDESTE     ETANOL HIDRATADO            -3584.763993
             GASOLINA ADITIVADA         -99999.000000
             GASOLINA COMUM              -3309.566871
             GLP                         -3488.892533
             GNV                         -5379.132632
             OLEO DIESEL                -34186.341565
             OLEO DIESEL S10            -32827.681467
             ÓLEO DIESEL                     0.233981
             ÓLEO DIESEL S10                 0.326030
NORTE        ETANOL HIDRATADO            -4482.661693
             GASOLINA ADITIVADA         -99999.000000
             GASOLINA COMUM              -3256.102668
             GLP                         -3289.188608
             GNV                        -18446.105430
             OLEO DIESEL                -30564.141179
             OLEO DIESEL S10            -34577.256602
             ÓLEO DIESEL                     0.323795
             ÓLEO DIESEL S10                 0.417151
SUDESTE      ETANOL HIDRATADO            -3324.406438
             GASOLINA ADITIVADA         -99999.000000
             GASOLINA COMUM              -3206.940891
             GLP                         -3171.272230
             GNV                         -5699.446609
             OLEO DIESEL                -31817.584341
             OLEO DIESEL S10            -31817.552293
             ÓLEO DIESEL                     0.261930
             ÓLEO DIESEL S10                 0.362285
SUL          ETANOL HIDRATADO            -3209.436142
             GASOLINA ADITIVADA         -99999.000000
             GASOLINA COMUM              -3208.162021
             GLP                         -3211.384932
             GNV                         -8367.465845
             OLEO DIESEL                -31817.573402
             OLEO DIESEL S10            -31817.550091
             ÓLEO DIESEL                     0.276743
             ÓLEO DIESEL S10                 0.368439

                                 COEF DE VARIAÇÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.054376
             GASOLINA ADITIVADA                  0.028598
             GASOLINA COMUM                      0.033478
             GLP                                 0.058924
             GNV                                 0.015592
             OLEO DIESEL                         0.038324
             OLEO DIESEL S10                     0.038906
             ÓLEO DIESEL                         0.032117
             ÓLEO DIESEL S10                     0.032577
NORDESTE     ETANOL HIDRATADO                    0.051281
             GASOLINA ADITIVADA                  0.030532
             GASOLINA COMUM                      0.036175
             GLP                                 0.059800
             GNV                                 0.031670
             OLEO DIESEL                         0.037396
             OLEO DIESEL S10                     0.039328
             ÓLEO DIESEL                         0.029401
             ÓLEO DIESEL S10                     0.030066
NORTE        ETANOL HIDRATADO                    0.049844
             GASOLINA ADITIVADA                  0.025150
             GASOLINA COMUM                      0.044371
             GLP                                 0.058427
             GNV                                 0.002806
             OLEO DIESEL                         0.048161
             OLEO DIESEL S10                     0.049161
             ÓLEO DIESEL                         0.041224
             ÓLEO DIESEL S10                     0.038669
SUDESTE      ETANOL HIDRATADO                    0.063585
             GASOLINA ADITIVADA                  0.041393
             GASOLINA COMUM                      0.040764
             GLP                                 0.071048
             GNV                                 0.073799
             OLEO DIESEL                         0.047401
             OLEO DIESEL S10                     0.048551
             ÓLEO DIESEL                         0.034798
             ÓLEO DIESEL S10                     0.035397
SUL          ETANOL HIDRATADO                    0.055662
             GASOLINA ADITIVADA                  0.041060
             GASOLINA COMUM                      0.039465
             GLP                                 0.074754
             GNV                                 0.033697
             OLEO DIESEL                         0.046489
             OLEO DIESEL S10                     0.050216
             ÓLEO DIESEL                         0.034138
             ÓLEO DIESEL S10                     0.036409

                                 PREÇO MÉDIO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                -3222.112059
             GASOLINA ADITIVADA             -99999.000000
             GASOLINA COMUM                  -3210.159063
             GLP                             -3498.112725
             GNV                            -11556.419135
             OLEO DIESEL                    -31815.685480
             OLEO DIESEL S10                -31815.623682
             ÓLEO DIESEL                         2.211993
             ÓLEO DIESEL S10                     2.919026
NORDESTE     ETANOL HIDRATADO                -3532.013263
             GASOLINA ADITIVADA             -99999.000000
             GASOLINA COMUM                  -3307.359915
             GLP                             -3466.613433
             GNV                             -5343.689296
             OLEO DIESEL                    -34184.502449
             OLEO DIESEL S10                -32825.797869
             ÓLEO DIESEL                         2.112969
             ÓLEO DIESEL S10                     2.715936
NORTE        ETANOL HIDRATADO                -4480.900977
             GASOLINA ADITIVADA             -99999.000000
             GASOLINA COMUM                  -3253.863168
             GLP                             -3258.911293
             GNV                            -18444.997696
             OLEO DIESEL                    -30562.154846
             OLEO DIESEL S10                -34575.364714
             ÓLEO DIESEL                         2.247253
             ÓLEO DIESEL S10                     2.899079
SUDESTE      ETANOL HIDRATADO                -3265.504981
             GASOLINA ADITIVADA             -99999.000000
             GASOLINA COMUM                  -3204.654461
             GLP                             -3150.885143
             GNV                             -5667.363800
             OLEO DIESEL                    -31815.777841
             OLEO DIESEL S10                -31815.726256
             ÓLEO DIESEL                         2.077769
             ÓLEO DIESEL S10                     2.693909
SUL          ETANOL HIDRATADO                -3207.781733
             GASOLINA ADITIVADA             -99999.000000
             GASOLINA COMUM                  -3205.926410
             GLP                             -3188.776740
             GNV                             -8366.619271
             OLEO DIESEL                    -31815.862712
             OLEO DIESEL S10                -31815.823436
             ÓLEO DIESEL                         2.055550
             ÓLEO DIESEL S10                     2.613336

                                 DESVIO PADRÃO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  -3223.836285
             GASOLINA ADITIVADA               -99999.000000
             GASOLINA COMUM                    -3212.761588
             GLP                               -3533.116222
             GNV                              -11557.650819
             OLEO DIESEL                      -31817.801040
             OLEO DIESEL S10                  -31817.794608
             ÓLEO DIESEL                           0.049874
             ÓLEO DIESEL S10                       0.073233
NORDESTE     ETANOL HIDRATADO                  -3533.939531
             GASOLINA ADITIVADA               -99999.000000
             GASOLINA COMUM                    -3309.904357
             GLP                               -3496.471708
             GNV                               -5344.928392
             OLEO DIESEL                      -34186.539755
             OLEO DIESEL S10                  -32827.893182
             ÓLEO DIESEL                           0.048033
             ÓLEO DIESEL S10                       0.065408
NORTE        ETANOL HIDRATADO                  -4482.919296
             GASOLINA ADITIVADA               -99999.000000
             GASOLINA COMUM                    -3256.479193
             GLP                               -3296.176698
             GNV                              -18446.407285
             OLEO DIESEL                      -30564.416221
             OLEO DIESEL S10                  -34577.503474
             ÓLEO DIESEL                           0.060785
             ÓLEO DIESEL S10                       0.082405
SUDESTE      ETANOL HIDRATADO                  -3267.271997
             GASOLINA ADITIVADA               -99999.000000
             GASOLINA COMUM                    -3207.232654
             GLP                               -3179.586493
             GNV                               -5668.464451
             OLEO DIESEL                      -31817.796503
             OLEO DIESEL S10                  -31817.788790
             ÓLEO DIESEL                           0.051781

In [4]:
data = pd.read_csv(r'C:\Users\Armando\Downloads\archive\2004-2021.tsv', delimiter = '\t')

In [8]:
grupos = data.groupby(['REGIÃO'])

In [11]:
grupos.mean()

C:\Users\Armando\AppData\Local\Temp\ipykernel_3724\1316802999.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupos.mean()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
REGIÃO,,,,,,
CENTRO OESTE,130.911055,12.440722,0.707499,10.729922,14.217017,0.040334
NORDESTE,117.176934,10.663357,0.606581,9.371222,12.015522,0.041201
NORTE,62.700239,13.411680,0.743323,12.165540,15.279058,0.046625
SUDESTE,673.675402,10.217240,0.701850,8.335308,12.375387,0.055001
SUL,332.741900,10.562091,0.741300,8.771326,12.743624,0.047601

In [20]:
grupos['DESVIO PADRÃO REVENDA'].describe()

                count      mean       std  min    25%    50%    75%     max
REGIÃO
CENTRO OESTE  17449.0  0.707499  1.474681  0.0  0.068  0.112  0.188   9.842
NORDESTE      41671.0  0.606581  1.288067  0.0  0.065  0.105  0.178  10.748
NORTE         27989.0  0.743323  1.442045  0.0  0.084  0.143  0.273  10.675
SUDESTE       19270.0  0.701850  1.411828  0.0  0.095  0.135  0.197   9.632
SUL           14444.0  0.741300  1.530572  0.0  0.078  0.117  0.188  10.270

<br/>

`.agg`: **agrega (roda)** uma série de funções para os elementos de um dataframe ou de grupos de um dataframe.

In [13]:
import numpy as np

In [16]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [22]:
df.agg([sum, min])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [23]:
grupos['PREÇO MÉDIO REVENDA'].agg([min, max])

                min      max
REGIÃO
CENTRO OESTE  1.097  105.194
NORDESTE      0.975   91.725
NORTE         1.219  107.500
SUDESTE       0.766   87.091
SUL           0.922   91.189

<h2>6. Ordenação</h2>
<hr/>

In [39]:
notas = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5.0, 10.0, 6.0, 10.0]
})
notas

    nome  idade  nota_final
0   João     20         5.0
1  Maria     21        10.0
2   José     19         6.0
3  Alice     20        10.0

`.sort_values()`: ordena valores ao longo de um eixo.

In [40]:
notas.sort_values(by='idade')

    nome  idade  nota_final
2   José     19         6.0
0   João     20         5.0
3  Alice     20        10.0
1  Maria     21        10.0

Por padrão, o método retorna uma cópia dos dados ordenados em **ordem crescente (ascendente)**. Podemos alterar isso pelo argumento `ascending`.

In [41]:
notas.sort_values(by='idade', ascending=False)

    nome  idade  nota_final
1  Maria     21        10.0
0   João     20         5.0
3  Alice     20        10.0
2   José     19         6.0

<br/>

Podemos ordenar a partir de **mais de uma coluna**:

In [42]:
notas.sort_values(by=['nota_final', 'idade'], ascending=[False, True])

    nome  idade  nota_final
3  Alice     20        10.0
1  Maria     21        10.0
2   José     19         6.0
0   João     20         5.0

Ordena os registros, primeiramente, pela coluna 'nota_final' em **ordem descrente**. <br/>
Então, reordena os registros _"empatados"_, ou seja, com a **mesma nota final**, em _ordem alfabética_ (ordem crescente).

<br/>

Note que o dataframe original **não foi alterado** após a ordenação.

In [43]:
notas

    nome  idade  nota_final
0   João     20         5.0
1  Maria     21        10.0
2   José     19         6.0
3  Alice     20        10.0

Para alterá-lo, use o argumento `inplace=True`:

In [44]:
notas.sort_values(by=['nota_final', 'idade'], ascending=[False, True], inplace = True)

In [47]:
notas.reset_index(drop=True, inplace=True)

In [48]:
notas

    nome  idade  nota_final
0  Alice     20        10.0
1  Maria     21        10.0
2   José     19         6.0
3   João     20         5.0

<h2>7. Exercícios</h2>
<hr/>

Vamos aplicar os conceitos que vimos em alguns exercícios. <br/>
Para isso, utilizaremos o dataset de _preços de combustíveis no Brasil_.

Como há apenas medições de janeiro a junho para o ano de 2019, resolvemos **remover os dados** deste ano da análise.

In [36]:
data['ANO'] = data['DATA INICIAL'].dt.year

In [62]:
data

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,2004
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000,2021
120819,2021-04-25,2021-05-01,SUL,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000,2021
120820,2021-04-25,2021-05-01,SUDESTE,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000,2021
120821,2021-04-25,2021-05-01,NORDESTE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000,2021
120822,2021-04-25,2021-05-01,NORTE,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000,2021

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   PRODUTO                        120823 non-null  object
 4   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 5   UNIDADE DE MEDIDA              120823 non-null  object
 6   PREÇO MÉDIO REVENDA            120823 non-null  float64
 7   DESVIO PADRÃO REVENDA          120823 non-null  float64
 8   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 9   PREÇO MÁXIMO REVENDA           120823 non-null  float64
 10  MARGEM MÉDIA REVENDA           120823 non-null  object
 11  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 12  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 13  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 14  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 15  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 16  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(11)
memory usage: 15.7+ MB

### 7.1 Qual a quantidade de postos pesquisados para cada combustível em cada região?

In [12]:
combustiveis = data.groupby(['PRODUTO'])

In [23]:
df = combustiveis['REGIÃO'].value_counts().to_frame(name='REGISTROS')
df

                                 REGISTROS
PRODUTO            REGIÃO
ETANOL HIDRATADO   NORDESTE           7856
                   NORTE              5982
                   CENTRO OESTE       3492
                   SUDESTE            3492
                   SUL                2618
GASOLINA ADITIVADA NORDESTE            248
                   NORTE               193
                   CENTRO OESTE        112
                   SUDESTE             112
                   SUL                  84
GASOLINA COMUM     NORDESTE           7857
                   NORTE              6110
                   CENTRO OESTE       3492
                   SUDESTE            3492
                   SUL                2619
GLP                NORDESTE           7853
                   NORTE              6110
                   SUDESTE            3490
                   CENTRO OESTE       3489
                   SUL                2619
GNV                NORDESTE           6180
                   SUDESTE            3488
                   SUL                2607
                   CENTRO OESTE       1671
                   NORTE               523
OLEO DIESEL        NORDESTE            781
                   NORTE               602
                   CENTRO OESTE        352
                   SUDESTE             352
                   SUL                 264
OLEO DIESEL S10    NORDESTE            792
                   NORTE               616
                   CENTRO OESTE        352
                   SUDESTE             352
                   SUL                 264
ÓLEO DIESEL        NORDESTE           7065
                   NORTE              5494
                   CENTRO OESTE       3140
                   SUDESTE            3140
                   SUL                2355
ÓLEO DIESEL S10    NORDESTE           3039
                   NORTE              2359
                   SUDESTE            1352
                   CENTRO OESTE       1349
                   SUL                1014

### 7.2 Como os preços da Gasolina Comum no Norte variaram em 2018?

In [69]:
gasolina_comum = data['PRODUTO'] == 'GASOLINA COMUM'
filtragem = data[gasolina_comum]

In [70]:
norte = filtragem['REGIÃO'] == 'NORTE'

In [71]:
filtragem = filtragem[norte]

In [72]:
ano_2018 = filtragem['ANO'] == 2018

In [73]:
filtragem = filtragem[ano_2018]

In [74]:
filtragem.reset_index(drop=True, inplace=True)

In [75]:
filtragem

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
0,2018-01-07,2018-01-13,NORTE,GASOLINA COMUM,35,R$/l,4.769,0.121,4.570,5.150,0.637,0.025,4.132,0.092,4.0010,4.2638,0.022,2018
1,2018-01-07,2018-01-13,NORTE,GASOLINA COMUM,22,R$/l,4.110,0.219,3.830,4.498,0.395,0.053,3.715,0.052,3.6409,3.8043,0.014,2018
2,2018-01-07,2018-01-13,NORTE,GASOLINA COMUM,71,R$/l,4.293,0.247,3.890,4.950,0.672,0.058,3.621,0.133,3.4000,3.9000,0.037,2018
3,2018-01-07,2018-01-13,NORTE,GASOLINA COMUM,111,R$/l,4.259,0.312,3.799,5.040,0.467,0.073,3.792,0.142,3.3587,4.0500,0.037,2018
4,2018-01-07,2018-01-13,NORTE,GASOLINA COMUM,73,R$/l,4.331,0.131,4.129,4.670,0.614,0.030,3.717,0.083,3.6097,3.9700,0.022,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,73,R$/l,3.888,0.473,3.740,5.050,0.305,0.122,3.583,0.206,3.4000,4.2800,0.057,2018
356,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,117,R$/l,4.498,0.278,3.999,5.150,0.577,0.062,3.921,0.072,3.8124,4.0973,0.018,2018
357,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,73,R$/l,4.401,0.225,3.989,4.850,0.619,0.051,3.782,0.086,3.6600,3.9800,0.023,2018
358,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,13,R$/l,4.058,0.013,4.050,4.080,0.537,0.003,3.521,0.099,3.4150,3.6852,0.028,2018
359,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,46,R$/l,4.571,0.311,3.990,6.290,0.673,0.068,3.898,0.042,3.7800,3.9570,0.011,2018

#### **Estatísticas Descritivas**

In [48]:
filtragem.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.0
mean,53.955556,4.496967,0.176169,4.214339,4.981089,0.540553,0.039100,3.956414,0.091789,3.792926,4.135628,0.023194,2018.0
std,31.189478,0.332783,0.090728,0.321052,0.515425,0.166147,0.020649,0.234916,0.038393,0.243649,0.261402,0.009662,0.0
min,11.000000,3.888000,0.004000,3.659000,4.080000,0.125000,0.001000,3.521000,0.007000,3.169200,3.624000,0.002000,2018.0
25%,29.000000,4.266750,0.121000,3.980000,4.589000,0.467000,0.027000,3.779000,0.066750,3.612325,3.949700,0.017000,2018.0
50%,46.000000,4.484500,0.172500,4.174500,4.950000,0.557000,0.039000,3.924000,0.090000,3.745350,4.113100,0.022000,2018.0
75%,71.000000,4.744250,0.238250,4.390000,5.250000,0.638000,0.051000,4.120750,0.115250,3.953200,4.284950,0.029000,2018.0
max,117.000000,5.362000,0.473000,5.220000,6.290000,0.941000,0.122000,4.614000,0.217000,4.423400,4.914000,0.058000,2018.0

In [49]:
filtragem['PREÇO MÉDIO REVENDA'].describe()

count    360.000000
mean       4.496967
std        0.332783
min        3.888000
25%        4.266750
50%        4.484500
75%        4.744250
max        5.362000
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 7.3 Como os preços da Gasolina Comum e do Etanol no Norte variaram em 2018?

In [78]:
etanol  = data['PRODUTO'] == 'ETANOL HIDRATADO'

In [87]:
filtragem_2 = data[etanol | gasolina_comum]

In [88]:
norte = filtragem_2['REGIÃO'] == 'NORTE'

In [89]:
filtragem_2 = filtragem_2[norte]

In [90]:
ano_2018 = filtragem_2['ANO'] == 2018

In [92]:
filtragem_2 = filtragem_2[ano_2018]

In [96]:
filtragem_2.reset_index(drop=True, inplace=True)

In [97]:
filtragem_2

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
0,2018-01-07,2018-01-13,NORTE,ETANOL HIDRATADO,21,R$/l,3.638,0.057,3.470,3.75,0.421,0.016,3.217,0.012,3.2082,3.2382,0.004,2018
1,2018-01-07,2018-01-13,NORTE,ETANOL HIDRATADO,41,R$/l,3.253,0.209,3.090,3.89,0.312,0.064,2.941,0.112,2.7000,3.1848,0.038,2018
2,2018-01-07,2018-01-13,NORTE,ETANOL HIDRATADO,38,R$/l,3.620,0.266,3.240,4.10,0.423,0.073,3.197,0.121,3.0609,3.3900,0.038,2018
3,2018-01-07,2018-01-13,NORTE,ETANOL HIDRATADO,31,R$/l,3.473,0.184,3.190,4.01,0.519,0.053,2.954,0.088,2.8965,3.1695,0.030,2018
4,2018-01-07,2018-01-13,NORTE,ETANOL HIDRATADO,4,R$/l,3.545,0.064,3.490,3.60,0.555,0.018,2.990,0.030,2.9465,3.0155,0.010,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,73,R$/l,3.888,0.473,3.740,5.05,0.305,0.122,3.583,0.206,3.4000,4.2800,0.057,2018
668,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,117,R$/l,4.498,0.278,3.999,5.15,0.577,0.062,3.921,0.072,3.8124,4.0973,0.018,2018
669,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,73,R$/l,4.401,0.225,3.989,4.85,0.619,0.051,3.782,0.086,3.6600,3.9800,0.023,2018
670,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,13,R$/l,4.058,0.013,4.050,4.08,0.537,0.003,3.521,0.099,3.4150,3.6852,0.028,2018
671,2018-12-30,2019-01-05,NORTE,GASOLINA COMUM,46,R$/l,4.571,0.311,3.990,6.29,0.673,0.068,3.898,0.042,3.7800,3.9570,0.011,2018

<h2>8. Assuntos para continuar os estudos</h2>
<hr/>

- join
- concat
- plot
- data cleaning